@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
  background-color: #C0BEC9;
  font-family: "Roboto", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #A9292D;
  display: flex;
  padding: 15px;
}
.navItem
{
  justify-content: flex-start;
  background-color: #A9292D;
}

.navItem button
{
  background-color: #A9292D;
  color: #fff;
  padding: 4px;
  margin: 10px;
  margin-right: 100px;
  cursor: pointer;
}

.registerForm
{
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  width: 300px; 
  margin: 0 auto; 
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formTitle
{
  background-color: #fff;
  color: #000;
  text-align: left;
}

.registerForm input
{
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  margin: 10px;
}

.formButton
{
  background-color: #A9292D;
  font-size: 24;
  font-weight: bold;
  border-radius: 25px;
  width: 50%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formPrompt
{
  background: none;
  color: #1097F6;
  text-decoration: underline;
  font-size: 15px;
  padding: 0;
}

.formText
{
  color: #000;
  font-size: 15px;
}

.profile {
  position: fixed;
  right: 0;
  cursor: pointer;
  background-color: #A9292D; 
  margin-right: 100px;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown
{
  background-color: #A9292D;
}

.dropdownMenu {
  position: absolute;
  top: 60px;
  right: 0;
  margin-right: 50px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column; 

}

.logoutButton {
  background-color: #A9292D;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;

}
.dropdownButton
{
  background: #fff;
}

.dropdownButton button {
  background: #fff;
  color: #000;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdownButton button:hover {
  text-decoration: underline;
  font-weight: bold;
}

.logoutButton:hover {
  background-color: #851f1a;
}

.job-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  color: #000;
}

.job-search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
}

.job-search-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: #000;
}

.job-search-input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  width: 200px;
  background-color: #fff;
  color: #000;
}

.job-search-select {
  padding: 15px;
  border-radius: 0 20px 20px 0;
  border: 1px solid #000;
  border-left: none;
  outline: none;
  width: 100px;
  background-color: #fff;
  color: #000;
}

.job-search-input-keywords {
  padding: 15px;
  border: 1px solid #000;
  border-right: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 350px;
  background-color: #fff;
  color: #000;
}

.job-search-input-location {
  padding: 15px;
  border: 1px solid #000;
  border-right: none;
  outline: none;
  width: 150px;
  background-color: #fff;
  color: #000;
}

.job-search-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #b22222;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 40%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.job-search-button:hover {
  background-color: #a11d1d;
}

.job-search-input-salary {
  padding: 10px;
  border: 1px solid #000;
  outline: none;
  width: 50px;
  background-color: #fff;
  color: #000;
}

label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #000;
}

.job-card {
  border: 1px solid #000;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  cursor: pointer;
}

.job-card:hover {
  background-color: #f0f0f0;
}


.job-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row p {
  margin: 0;
  flex: 1;
}

.job-card h1
{
  font-size: 20px;
}

.job-card *
{
  font-size: 15px;
  text-align: left;
  background-color: #fff;
}

.job-cards-container
{
  height: 500px; /* Set your desired fixed height */
  overflow-y: auto; /* Make the container scrollable */
  padding-right: 10px;
  margin-top: 20px;
}

.job-listing
{
  background-color: #fff;
  color: #000;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: auto;
}

.job-title, .job-description
{
  background-color: #fff;
  font-size: 15px;
}

.job-description-container, .job-description-container h3
{
  background-color: #fff;
  text-align: left;
}

.job-location-container, .job-location-container h3
{
  background-color: #fff;
  text-align: left;
}

.job-title
{
  font-size: 25px;
}

.job-info-container
{
  background-color: #fff;
}

.job-info 
{
  background-color: #fff;
}

.job-info-row {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  background-color: #fff;

}

.job-buttons 
{
  background-color: #fff;
}

.job-buttons .row
{
  background-color: #fff;
}

.job-button
{
  background-color: #A9292D;
  font-size: 24;
  font-weight: bold;
  border-radius: 25px;
  width: 25%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.map-image
{
  width: 50%;
  height: 200px;
}