@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
  background-color: #C0BEC9;
  font-family: "Roboto", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body
{
  height: 100%;
  overflow: hidden;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  background-color: #A9292D;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #A9292D;
}

.navbar-logo * {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #A9292D;
  color: #fff;
}

.nav-items {
  display: flex;
  gap: 20px;
  background-color: #A9292D;
}

.navItem button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  background-color: #A9292D;
}

.navItem
{
  background-color: #A9292D;
}

.profile {
  right: 0;
  cursor: pointer;
  background-color: #A9292D; 
  margin-right: 100px;
}

.menu-toggle {
  display: none;
  background-color: #A9292D;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.content {
  margin-top: 50px;
  padding: 20px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.registerForm
{
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  width: 300px; 
  margin: 0 auto; 
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formTitle
{
  background-color: #fff;
  color: #000;
  text-align: left;
}

.registerForm input
{
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  margin: 10px;
}

.formButton
{
  background-color: #A9292D;
  font-size: 24;
  font-weight: bold;
  border-radius: 25px;
  width: 50%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formPrompt
{
  background: none;
  color: #1097F6;
  text-decoration: underline;
  font-size: 15px;
  padding: 0;
}

.formText
{
  color: #000;
  font-size: 15px;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown
{
  background-color: #A9292D;
}

.dropdownMenu {
  position: absolute;
  top: 60px;
  right: 0;
  margin-right: 50px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column; 

}

.logoutButton {
  background-color: #A9292D;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;

}
.dropdownButton
{
  background: #fff;
}

.dropdownButton button {
  background: #fff;
  color: #000;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdownButton button:hover {
  text-decoration: underline;
  font-weight: bold;
}

.logoutButton:hover {
  background-color: #851f1a;
}

.job-search-container {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  color: #000;
}

.job-search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
}

.job-search-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: #000;
  justify-content: space-between;
  margin-bottom: 10px;
}

.job-search-type, .job-search-salary
{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.job-search-type *, .job-search-salary *
{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.job-search-input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  width: 200px;
  background-color: #fff;
  color: #000;
}

.job-search-select {
  padding: 15px;
  border-radius: 0 20px 20px 0;
  border: 1px solid #000;
  border-left: none;
  outline: none;
  width: 100px;
  background-color: #fff;
  color: #000;
}

.job-search-input-keywords {
  padding: 15px;
  border: 1px solid #000;
  border-right: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 350px;
  background-color: #fff;
  color: #000;
}

.job-search-input-location {
  padding: 15px;
  border: 1px solid #000;
  border-right: none;
  outline: none;
  width: 150px;
  background-color: #fff;
  color: #000;
}

.job-search-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #b22222;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 40%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.job-search-button:hover {
  background-color: #a11d1d;
}

.job-search-input-salary {
  padding: 10px;
  border: 1px solid #000;
  outline: none;
  width: 100px;
  background-color: #fff;
  color: #000;
}

label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #000;
}

.job-card {
  border: 1px solid #000;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 60%;
  cursor: pointer;
}

.job-card:hover {
  background-color: #f0f0f0;
}


.job-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row p {
  margin: 0;
  flex: 1;
}

.job-card h1
{
  font-size: 20px;
}

.job-card *
{
  font-size: 15px;
  text-align: left;
  background-color: #fff;
}

.job-cards-container
{
  height: 100%; /* Set your desired fixed height */
  overflow-y: auto; /* Make the container scrollable */
  padding-right: 10px;
  margin-top: 20px;
  width: 100%;
  height: calc(100vh - 250px);
}

.job-listing
{
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center; 
  padding: 20px;
  width: 100%;
  max-width: 800px;
  min-width: 800px;
  margin: 0 auto; 
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  height: auto;

}

.job-title, .job-description
{
  background-color: #fff;
  font-size: 15px;
}

.job-description-container, .job-description-container h3
{
  background-color: #fff;
  text-align: left;
}

.job-description-container {
  max-height: 300px;
  overflow-y: auto; 
  text-align: left;
}

.job-description {
  margin: 0;
  line-height: 1.5;
}


.job-location-container {
  background-color: #fff;
  text-align: left; 
  padding: 10px; 
  width: 100%; 
  margin-top: 20px; 
}


.job-location-container h3 {
  margin: 0; 
  padding-bottom: 10px; 
  background-color: #fff;
}


.map-image {
  width: 50%; 
  height: 200px; 
  object-fit: cover; 
  display: block; 
  margin-top: 10px; 
}

.job-title
{
  font-size: 25px;
}

.job-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.job-info-row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #fff;
}


.job-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.job-info 
{
  background-color: #fff;
}


.job-buttons 
{
  background-color: #fff;
}

.job-buttons .row
{
  background-color: #fff;
}

.job-button
{
  background-color: #A9292D;
  font-size: 24;
  font-weight: bold;
  border-radius: 25px;
  width: 25%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.createJobForm
{
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  width: 100%;
  max-width: 600px;
  min-width: 600px; 
  margin: 0 auto; 
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.createJobForm input,
.createJobForm textarea {
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  margin: 10px 0;
}

.createJobForm textarea {
  resize: none;
}

.createJobForm label
{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #000;
  background-color: #fff;
}

.job-create-salary
{
  background-color: #fff;
  width: 50%;
}

.createJobForm .row
{
    display: flex;
    justify-content: space-between;
    width: 60%;
    background-color: #fff;
    margin: auto;
    gap: 10px;
}

@media (max-width: 480px) {

  body
  {
  height: 100%;
  overflow-y: auto;
  }


  .content {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    width: 100%;
  }

  .createJobForm {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    min-width: 300px; 
  }

  .createJobForm input,
  .createJobForm textarea {
    font-size: 14px;
    margin: 5px 0; 
  }

  
  .job-listing {
    padding: 10px; 
    max-width: 100%; 
    min-width: 100%; 
    height: auto;
    overflow-y: auto;
  }

  .job-buttons .row {
    flex-direction: column;
    gap: 15px;
  }

  .job-button {
    width: 80%;
  }

  .map-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    display: block; 
    margin-top: 10px; 
  }

  .job-search-container {
    width: 90%;
    margin: 0 auto;
  }

  .job-search-input-keywords {
    width: 100%;
    color: #000;
  }
  
  .job-search-input-location {
    padding: 15px;
    border: 1px solid #000;
    border-right: none;
    outline: none;
    width: 50%;
    background-color: #fff;
    color: #000;
  }

  .job-search-button {
    max-width: 100%;
  }

  .nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust based on your navbar height */
    left: 0;
    width: 100%;
    background-color: #333;
    gap: 10px;
    padding: 10px;
}

.nav-items.active {
    display: flex;
    background-color: #A9292D; 
    text-align: left;
    margin-top: 10px;
}

.menu-toggle {
    display: block;
}

.dropdownMenu {
  right: 0; /* Ensure dropdown is aligned to the right */
  margin-right: 50px; /* Reduce margin on mobile */
}

}




/* Responsive styles */
@media (max-width: 768px) {
  .content {
    padding-top: 60px; 
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    width: 100%;
  }

  .job-search-container {
    width: 90%;
    margin: 0 auto;
  }

  .job-search-options {
    flex-direction: column;
  }

  .nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust based on your navbar height */
    left: 0;
    width: 100%;
    background-color: #333;
    gap: 10px;
    padding: 10px;
}

.nav-items.active {
    display: flex;
    background-color: #A9292D; 
    text-align: left;
    margin-top: 10px;
}

.menu-toggle {
    display: block;
}

.dropdownMenu {
  right: 0; /* Ensure dropdown is aligned to the right */
  margin-right: 50px; /* Reduce margin on mobile */
}




}